body {
    background-color: lightblue;
}

.welcome {
    position: relative;
    margin-top: 10vh;
    font-size: 48px;
}

.registrationTable {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 50vh;
}
.inputFields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    margin: 15px;
}
